<section class="section">
  <!-- positions -->
  <div class="container">
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-3 button" [class.active]="mapType === 'church'" (click)="activeMap('church')">
        <i class="fa fa-church"></i> <span [translate]="'maps.church'"></span>
      </div>
      <div class="col-sm-3 button" [class.active]="mapType === 'feast'" (click)="activeMap('feast')">
        <i class="fas fa-utensils"></i> <span [translate]="'maps.feast'"></span>
      </div>
      <div class="col-sm-3 button" [class.active]="mapType === 'route'" (click)="activeMap('route')">
        <i class="fas fa-car"></i> <span [translate]="'maps.route'"></span>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
  <!-- map -->
  <div class="text-center">
    <div #gmap class="g-map"></div>
  </div>
  <!-- address -->
  <div class="container">
    <div class="row" [ngSwitch]="mapType">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6" *ngSwitchCase="'church'"> church
      </div>
      <div class="col-sm-6" *ngSwitchCase="'feast'"> feast
      </div>
      <div class="col-sm-6" *ngSwitchCase="'route'"> route
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
</section>