.box {
  width: 100%;
  height: 100%;
}
.box-holder {
  width: 100%;
  height: 12rem;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  list-style: none;
  position: relative;
  cursor: pointer;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
.box-content {
  color: yellow;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  .box-title {
    position: absolute;
    margin: 1em;
    line-height: 2em;
    font-weight: 500;
  }
  .box-icon {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: auto;
    &.CAKE {
      background-image: url("../../../assets/img/icon/cake.png");
    }
  }
}
.front {
  z-index: 3;
  color: #fff;
  text-align: center;
  background: red;
}
.box-holder:hover > .front {
  z-index: 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.box-holder:hover > .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.back {
  color: #fff;
  text-align: center;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #34495e;
  .box-text {
    color: white;
    width: 100%;
    height: 100%;
  }
}
