<section class="section section--dark views-row views-row-2 views-row-even">
  <div class="container">

    <!--<a href="#svatebni-program" class="js-scrolling-link section__btn action-btn action-btn&#45;&#45;arrow-down"></a>-->
    <div class="row">
      <div class="col-md-12">
        <header class="title">
          <a name="svatebni-program"></a>
          <h2 class="header__title center" data-magellan-destination="svatebni-program">Svatební program</h2>
        </header>

        <div class="row">
          <div class="col-md-4">
            <rt-box icon="far fa-clock" time="schedule.1.time" title="schedule.1.title" text="schedule.1.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box icon="far fa-clock" time="schedule.2.time" title="schedule.2.title" text="schedule.2.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box icon="fas fa-car" time="schedule.3.time" title="schedule.3.title" text="schedule.3.text"></rt-box>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <rt-box [icon]="'fas fa-sign-out-alt'" time="schedule.4.time" title="schedule.4.title" text="schedule.4.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box [icon]="'fas fa-church'" time="schedule.5.time" title="schedule.5.title" text="schedule.5.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box [icon]="'fas fa-heart'" time="schedule.6.time" title="schedule.6.title" text="schedule.6.text"></rt-box>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <rt-box [icon]="'fas fa-camera'" time="schedule.7.time" title="schedule.7.title" text="schedule.7.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box [icon]="'fas fa-utensils'" time="schedule.8.time" title="schedule.8.title" text="schedule.8.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box [icon]="'fas fa-birthday-cake'" time="schedule.9.time" title="schedule.9.title" text="schedule.9.text"></rt-box>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <rt-box [icon]="'fas fa-venus-mars'" time="schedule.10.time" title="schedule.10.title" text="schedule.10.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box [icon]="'fas fa-table'" time="schedule.11.time" title="schedule.11.title" text="schedule.11.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box [icon]="'fas fa-question'" time="schedule.12.time" title="schedule.12.title" text="schedule.12.text"></rt-box>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>