<section class="section section--dark views-row views-row-2 views-row-even ">
  <div class="container">

    <!--<a href="#svatebni-program" class="js-scrolling-link section__btn action-btn action-btn&#45;&#45;arrow-down"></a>-->
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <header class="title">
          <a name="svatebni-program"></a>
          <h2 class="header__title" data-magellan-destination="svatebni-program">Svatební
            <span class="header__title--lighten">program</span></h2>
          <div class="header__description">aneb jak to všechno proběhne</div>
        </header>

        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="section__text typo">
              <p>Ve svatební den&nbsp;budou pro všechny zájemce&nbsp;nachystány&nbsp;svatební noviny. Dočtete se&nbsp;zde&nbsp;zajímavé historky jak&nbsp;z našich&nbsp;zásnub, tak i ze zásnub našich&nbsp;rodičů :-)&nbsp;Rozhodně se máte na co těšit.</p>
            </div>
          </div>
        </div>

        <div class="row hide-for-large-up">
          <div class="medium-9 medium-centered columns typo typo--centered">
            <p><strong>Kliknutím na dlaždici zobrazíte podrobnosti.</strong></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <rt-box></rt-box>

          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
          <li class="flip-box flip-box--top">
            <div class="flip-box__container">
              <div class="flip-box__front">
                <div class="flip-box__title">8:30</div>
                <div class="flip-box__icon"><i class="wedding-icon"
                    style="background-image: url(https://demo.onlinesvatba.cz/sites/default/files/ikony_program_white-10-21.png); background-size: auto;"></i>
                </div>
              </div>
              <div class="flip-box__back">
                <div class="flip-box__title flip-box__title--main">8:30</div>
                <div class="flip-box__description">
                  Svatební účes
                </div>
              </div>
            </div>
          </li>
          <li class="flip-box flip-box--top">
            <div class="flip-box__container">
              <div class="flip-box__front">
                <div class="flip-box__title">9:30</div>
                <div class="flip-box__icon"><i class="wedding-icon"
                    style="background-image: url(https://demo.onlinesvatba.cz/sites/default/files/ikony_program_white-02.png); background-size: auto;"></i>
                </div>
              </div>
              <div class="flip-box__back">
                <div class="flip-box__title flip-box__title--main">9:30</div>
                <div class="flip-box__description">
                  Příjezd svatebčanů
                </div>
              </div>
            </div>
          </li>
          <li class="flip-box flip-box--top">
            <div class="flip-box__container">
              <div class="flip-box__front">
                <div class="flip-box__title">10:30</div>
                <div class="flip-box__icon"><i class="wedding-icon"
                    style="background-image: url(https://demo.onlinesvatba.cz/sites/default/files/ikony_program_white-03.png); background-size: auto;"></i>
                </div>
              </div>
              <div class="flip-box__back">
                <div class="flip-box__title flip-box__title--main">10:30</div>
                <div class="flip-box__description">
                  Příjezd ženicha
                </div>
              </div>
            </div>
          </li>
          <li class="flip-box flip-box--top">
            <div class="flip-box__container">
              <div class="flip-box__front">
                <div class="flip-box__title">11:30</div>
                <div class="flip-box__icon"><i class="wedding-icon"
                    style="background-image: url(https://demo.onlinesvatba.cz/sites/default/files/ikony_program_white-04.png); background-size: auto;"></i>
                </div>
              </div>
              <div class="flip-box__back">
                <div class="flip-box__title flip-box__title--main">11:30</div>
                <div class="flip-box__description">
                  Svatební obřad
                </div>
              </div>
            </div>
          </li>
          <li class="flip-box flip-box--top">
            <div class="flip-box__container">
              <div class="flip-box__front">
                <div class="flip-box__title">12:00</div>
                <div class="flip-box__icon"><i class="wedding-icon"
                    style="background-image: url(https://demo.onlinesvatba.cz/sites/default/files/ikony_program_white-05.png); background-size: auto;"></i>
                </div>
              </div>
              <div class="flip-box__back">
                <div class="flip-box__title flip-box__title--main">12:00</div>
                <div class="flip-box__description">
                  Svatební hostina
                </div>
              </div>
            </div>
          </li>
          <li class="flip-box flip-box--top">
            <div class="flip-box__container">
              <div class="flip-box__front">
                <div class="flip-box__title">13:00</div>
                <div class="flip-box__icon"><i class="wedding-icon"
                    style="background-image: url(https://demo.onlinesvatba.cz/sites/default/files/ikony_program_white-07.png); background-size: auto;"></i>
                </div>
              </div>
              <div class="flip-box__back">
                <div class="flip-box__title flip-box__title--main">13:00</div>
                <div class="flip-box__description">
                  Ubytování svatebčanů
                </div>
              </div>
            </div>
          </li>
          <li class="flip-box flip-box--top">
            <div class="flip-box__container">
              <div class="flip-box__front">
                <div class="flip-box__title">14:00</div>
                <div class="flip-box__icon"><i class="wedding-icon"
                    style="background-image: url(https://demo.onlinesvatba.cz/sites/default/files/ikony_program_white-09.png); background-size: auto;"></i>
                </div>
              </div>
              <div class="flip-box__back">
                <div class="flip-box__title flip-box__title--main">14:00</div>
                <div class="flip-box__description">
                  DJs párty
                </div>
              </div>
            </div>
          </li>
          <li class="flip-box flip-box--top">
            <div class="flip-box__container">
              <div class="flip-box__front">
                <div class="flip-box__title">18:00</div>
                <div class="flip-box__icon"><i class="wedding-icon"
                    style="background-image: url(https://demo.onlinesvatba.cz/sites/default/files/ikony_program_white-06.png); background-size: auto;"></i>
                </div>
              </div>
              <div class="flip-box__back">
                <div class="flip-box__title flip-box__title--main">18:00</div>
                <div class="flip-box__description">
                  Raut
                </div>
              </div>
            </div>
          </li>
          <li class="flip-box flip-box--top">
            <div class="flip-box__container">
              <div class="flip-box__front">
                <div class="flip-box__title">23:59</div>
                <div class="flip-box__icon"><i class="wedding-icon"
                    style="background-image: url(https://demo.onlinesvatba.cz/sites/default/files/ikony_program_white_kreslici_platno_19.png); background-size: auto;"></i>
                </div>
              </div>
              <div class="flip-box__back">
                <div class="flip-box__title flip-box__title--main">23:59</div>
                <div class="flip-box__description">
                  Půlnoční překvapení
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>

  </div>
</section>