<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/">Verča a Jarda</a>
      <!--<button class="navbar-toggler navbar-burger"-->
          <!--type="button"-->
          <!--data-toggle="collapse"-->
          <!--data-target="#navbarToggler"-->
          <!--aria-controls="navbarTogglerDemo02"-->
          <!--aria-expanded="false"-->
          <!--aria-label="Toggle navigation"-->
          <!--(click)="sidebarToggle()">-->
        <!--<span class="navbar-toggler-bar"></span>-->
        <!--<span class="navbar-toggler-bar"></span>-->
        <!--<span class="navbar-toggler-bar"></span>-->
      <!--</button>-->
    </div>
    <!--<div class="collapse navbar-collapse" id="navbarToggler">-->
      <!--<ul class="navbar-nav ml-auto">-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"-->
              <!--rel="tooltip"-->
              <!--title="{{navbarTexts[0].title | translate}}"-->
              <!--data-placement="bottom"-->
              <!--href="https://twitter.com/CreativeTim"-->
              <!--target="_blank">-->
            <!--<i class="fa fa-church"></i>-->
            <!--<p class="d-lg-none" [translate]="navbarTexts[0].label"></p>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"-->
              <!--rel="tooltip"-->
              <!--title="{{navbarTexts[1].title | translate}}"-->
              <!--data-placement="bottom"-->
              <!--href="https://www.facebook.com/CreativeTim"-->
              <!--target="_blank">-->
            <!--<i class="fa fa-car"></i>-->
            <!--<p class="d-lg-none" [translate]="navbarTexts[1].label"></p>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"-->
              <!--rel="tooltip"-->
              <!--title="{{navbarTexts[2].title | translate}}"-->
              <!--data-placement="bottom"-->
              <!--href="https://www.instagram.com/CreativeTimOfficial"-->
              <!--target="_blank">-->
            <!--<i class="fa fa-church"></i>-->
            <!--<p class="d-lg-none" [translate]="navbarTexts[2].label"></p>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link"-->
              <!--rel="tooltip"-->
             <!--title="{{navbarTexts[3].title | translate}}"-->
              <!--data-placement="bottom"-->
              <!--href="{{navbarTexts[3].title | translate}}"-->
              <!--target="_blank">-->
            <!--<i class="fa fa-church"></i>-->
            <!--<p class="d-lg-none" [translate]="navbarTexts[3].label"></p>-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a href="http://pk2-angular.creative-tim.com/documentation/tutorial"-->
              <!--class="nav-link"-->
              <!--target="_blank"><i class="nc-icon nc-book-bookmark"></i> <span [translate]="navbarTexts[4].label"></span></a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</nav>
