<div class="wrapper">
  <div class="page-header section-dark">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">




        <!--<h2 class="presentation-subtitle text-center">to wedding: {{remainingTime.days}} days,-->
          <!--{{remainingTime.hours}} hours, {{remainingTime.minutes}} minutes, {{remainingTime.seconds}}s</h2>-->
        <!--<h2 class="presentation-subtitle text-center" style="position: relative; z-index: 1" (click)="showPublicHolidayDetail = !showPublicHolidayDetail">-->
            <!--public holiday: {{remainingTime.publicHolidays.length}}</h2>-->
        <!--<div class="presentation-subtitle text-center" *ngIf="showPublicHolidayDetail">-->
          <!--<div *ngFor="let holiday of remainingTime.publicHolidays">-->
            <!--<span>{{holiday.date | date}}</span>: <span [translate]="holiday.key"></span>-->
          <!--</div>-->
        <!--</div>-->

      </div>
    </div>
    <!--<div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>-->

    <section class="category-absolute ml-auto mr-auto timer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 d-none d-md-block">
            <p><span [translate]="'missing.days'"></span><i class="fa fa-heart"></i></p>
            <p [translate]="'our.wedding'"></p>
          </div>
          <div class="d-block d-md-none ml-auto mr-auto">
            <span [translate]="'missing.days'"></span><i class="fa fa-heart"></i> <span [translate]="'our.wedding'"></span>
          </div>
          <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-my-3"><p>{{remainingTime.days}}</p><p [translate]="'common.days'"></p></div>
              <div class="col-my-3"><p>{{remainingTime.hours}}</p><p [translate]="'common.hours'"></p></div>
              <div class="col-my-3"><p>{{remainingTime.minutes}}</p><p [translate]="'common.minutes'"></p></div>
              <div class="col-my-3"><p>{{remainingTime.seconds}}</p><p [translate]="'common.seconds'"></p></div>
            </div>
            <!--<div class="count-down">-->
              <!--<div id="countdown" class="is-countdown"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">817</span><span class="countdown-period">Days</span></span><span class="countdown-section"><span class="countdown-amount">5</span><span class="countdown-period">Hours</span></span><span class="countdown-section"><span class="countdown-amount">35</span><span class="countdown-period">Minutes</span></span><span class="countdown-section"><span class="countdown-amount">4</span><span class="countdown-period">Seconds</span></span></span></div>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-sm-12"><p translate="above.program"></p></div>
      </div>
    </div>
    <rt-program></rt-program>
    <rt-info></rt-info>
    <!--<rt-maps></rt-maps>-->
    <rt-app-components></rt-app-components>
  </div>
</div>
