<section class="section section--dark views-row views-row-2 views-row-even ">
  <div class="container">

    <!--<a href="#svatebni-program" class="js-scrolling-link section__btn action-btn action-btn&#45;&#45;arrow-down"></a>-->
    <div class="row">
      <div class="col-md-12">
        <header class="title">
          <a name="svatebni-program"></a>
          <h2 class="header__title center" data-magellan-destination="svatebni-program">Co by vás mohlo zajímat</h2>
        </header>

        <div class="row">
          <div class="col-md-4">
            <rt-box time="schedule.21.time"  text="schedule.21.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box time="schedule.22.time" text="schedule.22.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box time="schedule.23.time" text="schedule.23.text"></rt-box>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <rt-box time="schedule.24.time" text="schedule.24.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box time="schedule.25.time" text="schedule.25.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box time="schedule.26.time" text="schedule.26.text"></rt-box>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <rt-box time="schedule.27.time" text="schedule.27.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box time="schedule.28.time" text="schedule.28.text"></rt-box>
          </div>
          <div class="col-md-4">
            <rt-box time="schedule.29.time" text="schedule.29.text"></rt-box>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>